.logout-btn {
    margin-top: 8px;
}

.img-st {
    margin-top: -40px;
    margin-left: -20px;
    height: 100px;
    width: 100px;
}

.brand-name {
    display: inline;
<<<<<<< HEAD
}

.navBar {
    background-color: #17255a;
    margin-bottom: 0;
=======
>>>>>>> 1a2e3071f7659ca583a4e4dfe5ae4dcfb8083756
}