.navTabs {
    padding: 0;
    margin: 0;
    height: 40px;
    width: 100%;
    display: flex;
}

.navlink {
    flex: 1;
    padding: 10px;
}

.selected {
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    color: black;
    font-weight: bold;
}
